<h1>Fujin AV1E config list</h1>
<p style="color:red">{{message}}</p>
<button onclick="save_list_to_csv()" type="button">Download list to csv</button>
<button onclick="save_list()" type="button">Download json list</button>
<button onclick="restore()" type="button">Restore</button>
<br></br>
<form action="/csv" enctype="multipart/form-data" method="post">
      <label>Import csv:<label>
      <input type="file" name="file-to-upload">
      <input type="submit" value="Upload">
</form>
<br></br>
<form action="/view?id=-1" enctype="multipart/form-data" method="post" onsubmit="getFileName()">
    <label>Add cfg:<label>
    <input type="file" name="cfg-to-upload" id="selectedFile">
    <input type="hidden" id="hidden_original_file"  name="originalfilename" value="Feng">
    <input type="submit" value="Upload" >
</form>
<br></br>
<ul>
{{#each cfgData}}
<li>
<a href="/view?id={{cfgid}}">{{cfgName}}</a>
</li>
{{/each}}
</ul>

<script>

function getFileName() {
    let select_input = document.getElementById("selectedFile");
    let select_output = document.getElementById("hidden_original_file");
    select_output.value = select_input.value
}

function save_list_to_csv() {
   window.location.href = '/save_list_to_csv';
}


function save_list() {
   window.location.href = '/save_list';
}

function restore() {
   window.location.href = '/restore';
}

</script>
