<body>
   <input type="file" id="fileInput">
   <button id="uploadButton" onClick=test()>upload</button>
   <p id="fileContent"></p>   
   <p id ="test"></p>
   <form action="/" enctype="multipart/form-data" method="post">
      <label>Import csv:<label>
      <input type="file" name="file-to-upload">
      <input type="submit" value="Upload">
   </form>
   <script>
      function test() {
          let fileElement = document.getElementById('fileInput')

          let file = fileElement.file[0]
          document.getElementById("fileContent").innerHTML = file
          document.getElementById("test").innerHTML = "HELLO!"
      }
   </script>
