<body>
   <h1>Fujin AV1E config list Input</h1>
   <form action="/json" enctype="multipart/form-data" method="post">
      <label>Import CFG Json File:<label>
      <input type="file" name="file-to-upload">
      <input type="submit" value="Upload">
   </form>
</body>
